@{
    ViewData["Title"] = "Incorrect";
}

<form asp-action=Login method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control"
               placeholder="Username" name="username">
        <input type="password" class="form-control"
               placeholder="Password" name="password">
        <button class="btn btn-primary">Login</button>
    </div>
</form>