@{
    ViewData["Title"] = "SSRQ";
}

<form asp-action="ViewTable" method="get">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="FirstName" name="FirstName" value="true">
        <label class="form-check-label" for="FirstName">First Name</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="LastName" name="LastName" value="true">
        <label class="form-check-label" for="LastName">Last Name</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="City" name="City" value="true">
        <label class="form-check-label" for="City">City</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="BirthDate" name="BirthDate" value="true">
        <label class="form-check-label" for="BirthDate">Birth Date</label>
    </div>
    <input type="hidden" id="safe" name="safe" value="true">
    <button class="btn btn-primary">View</button>
</form>
