@model WebApplication1.Models.Table_SSRF

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped">
    <thead>
    <tr>
        @foreach (var header in Model.Headers)
        {
            <th>@header</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.Data)
    {
        <tr>
            @foreach (var header in Model.Headers)
            {
                <td>@row[header]</td>
            }
        </tr>
    }
    </tbody>
</table>